/* #region reset */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* #endregion reset */

/* #region common */
:root {
    --poke-blu: #143980;
    --poke-yellow: #f9ce4e;
}

@font-face {
    font-family: 'pokemonsolid';
    src: url('../fonts/pokemonsolid.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

body {
    height: 100vh;
    font-family: 'pokemonsolid', sans-serif;
    background-image: url('../img/pokemon-bg.png');
    background-size: cover;
    background-repeat: no-repeat;
}

.container {
    width: 80%;
    height: 100%;
    max-width: 1200px;
    margin: auto;
    position: relative;
    display: flex;
    gap: 5vw;
    align-items: center;
    justify-content: space-between;
}

/* #endregion common */

/* #region gameboard */
#board {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 800px;
    width: 100%;
    margin: auto;
    /* width: 440px; */
    gap: 10px;

    .card {
        /* width: 100px; */
        /* height: 100px; */
        aspect-ratio: 1/1.4;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 10px;
        transition: transform 1s;

        &:hover {
            cursor: pointer;
            border: 1px solid white;
        }

        img {
            width: 100%;
            height: 100%;
            object-fit: contain;
        }
    }

    .card.back {
        background-image: url(../img/cardback.png);
        background-position: center;
        background-size: contain;
    }

    .card.flipped {
        background-image: none;
        background-color: white;
        border: 5px solid var(--poke-blu);
        transform: rotateY(180deg);

        img {
            transform: scaleX(-1);
        }
    }

    .card.matched {
        border: 5px solid green;
    }

    .col-3 {
        width: calc(((100% / 12) * 3) - 10px);
    }

    .col-2 {
        width: calc(((100% / 12) * 2) - 10px);
    }
}

.right {
    width: 30%;
    display: flex;
    flex-direction: column;
    align-items: center;

    #errors-counter {
        font-size: 2.5rem;
        text-align: center;
        color: var(--poke-yellow);
        -webkit-text-stroke: 3px var(--poke-blu);
        margin-bottom: 1rem;
        text-shadow: -4px 4px 2px var(--poke-blu);
    }

    .reset-btn {
        color: var(--poke-yellow);
        -webkit-text-stroke: 3px var(--poke-blu);
        font-family: 'pokemonsolid', sans-serif;
        width: 70%;
        font-size: 2.5rem;
        text-shadow: -4px 4px 2px var(--poke-blu);
        text-align: center;
        display: none;

        &:hover {
            cursor: pointer;
            -webkit-text-stroke: 3px white;
            color: var(--poke-blu);
        }
    }
}

/* #endregion gameboard */

/* #region startpage */
#start {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .title {
        width: 70%;

        img {
            width: 100%;
            height: 100%;
            object-fit: contain;
        }
    }

    #start-btn,
    #score-btn {
        width: 300px;
        border: 3px solid var(--poke-blu);
        border-radius: 10px;
        margin-bottom: 1.5rem;

        &:hover {
            cursor: pointer;
            box-shadow: 0 0 8px 5px var(--poke-blu);
            border: 3px solid white;
        }

        img {
            width: 100%;
            height: 100%;
            object-fit: contain;
            border-radius: 10px;
        }
    }

    #score-btn {
        width: 200px;
        background-color: white;
        margin-top: 3rem;
    }

    #difficulty {
        display: flex;
        gap: 1rem;
        justify-content: center;
        align-items: center;
        width: 100%;

        .easy,
        .hard {
            width: 120px;
            border-radius: 10px;
            border: none;
            background-color: white;

            &:is(:focus, :hover) {
                cursor: pointer;
                border: 3px solid var(--poke-blu);
            }

            img {
                width: 100%;
                height: 100%;
                object-fit: contain;
            }
        }
    }
}

/* #endregion startpage */

/* #region score */

#score {
    display: none;
    font-size: 4.5rem;
    margin-bottom: 5rem;
    color: var(--poke-yellow);
    -webkit-text-stroke: 4px var(--poke-blu);
}

#scores-page {
    width: 100vw;
    height: 100vh;
    background-color: #143a8050;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;
    display: none;

    #scores-modal {
        background-color: white;
        padding: 1rem;
        border: 5px solid var(--poke-blu);
        border-radius: 10px;
        width: 40%;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        max-height: 70%;
        overflow-y: auto;

        .modal-header {
            display: flex;
            justify-content: end;

            .close-modal {
                border: none;
                font-size: 1.5rem;
                background-color: white;
                font-family: 'pokemonsolid', sans-serif;
                width: 20px;
                height: 20px;
                display: flex;
                justify-content: center;
                align-items: center;
                color: var(--poke-blu);

                &:hover {
                    color: var(--poke-yellow);
                    -webkit-text-stroke: 1px var(--poke-blu);
                    cursor: pointer;
                }
            }
        }

        h2 {
            text-align: center;
            color: var(--poke-yellow);
            font-size: 2rem;
            -webkit-text-stroke: 1px var(--poke-blu);
        }

        .scores-table {
            width: 100%;
            border-collapse: collapse;
            color: var(--poke-blu);

            th,
            tr,
            td {
                text-align: center;
                padding: 0.5rem;
                border: 1px solid var(--poke-blu);
            }
        }
    }
}

/* #endregion score */

/* #region scrollbar */

::-webkit-scrollbar {
    width: 3px;
}

::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px var(--poke-yellow);
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    background: var(--poke-blu);
    border-radius: 10px;
}

/* #endregion scrollbar */